@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: local('Montserrat'), url(./fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 900;
    src: local('Montserrat'), url(./fonts/Montserrat-Black.ttf) format('truetype');
}

.weather-app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f2f7f5;
  font-family: Montserrat, Arial, serif;
}
